<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SCRUMTool</title>
    <style>
      body {
        text-align: center;
        font-size: 4em;
      }

      h1, h3 {
        margin: 0;
      }

      h1 small {
        font-size: 0.5em;
      }

      .cell {
        border: 1px solid #aaa;
        padding: 5px;
        min-width: 200px;
        min-height: 200px;
      }

      .cell li {
        border: 1px solid #d3d3d3;
        background: #e6e6e6 50% 50% repeat-x;
        font-weight: normal;
        color: #555555;
      }

  #Ready, #Development, #Done { list-style-type: none; margin: 0; padding: 0 0 100px; float: left; margin-right: 10px; }
  #Ready li, #Development li, #Done li { margin: 0 5px 5px 5px; padding: 5px; font-size: 0.5em; width: 120px; }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script>
  $(function() {
    $( "#Ready, #Development, #Done" ).sortable({
      connectWith: ".connectedSortable",
      dropOnEmpty: true
    }).disableSelection();
  });
  </script>
  </head>
  <body>
    <div class="row">
      <ul id="Ready" class="connectedSortable cell">
         <li><%= title %></li>
      </ul>
      <ul id="Development" class="connectedSortable cell">
         <li><%= title %></li>
      </ul>
      <ul id="Done" class="connectedSortable cell">
         <li><%= title %></li>
      </ul>
    </div>
  </body>
</html>