<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SCRUMTool</title>
    <style>
      body {
        text-align: center;
        font-size: 4em;
      }

      h1, h3 {
        margin: 0;
      }

      h1 small {
        font-size: 0.5em;
      }
      
  #sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
  #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
  </script>
  </head>
  <body>
    <div class="row">
      <ul class="sortable1">
         <li><%= title %></li>
      </ul>
      <ul class="sortable2">
         <li><%= title %></li>
      </ul>
    </div>
  </body>
</html>