<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SCRUMTool</title>
    <style>
      body {
        text-align: center;
        font-size: 4em;
      }

      h1, h3 {
        margin: 0;
      }

      h1 small {
        font-size: 0.5em;
      }
    </style>
  </head>
  <body>
    <p>Hello how low</p>
  </body>
</html>